@model IEnumerable<AcademicoAVD2.Models.Aluno>
@{ ViewData["Title"] = "Alunos"; }

<h1>Alunos</h1>
<p><a asp-action="Create" class="btn btn-primary">Novo Aluno</a></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th><th>Email</th><th>Telefone</th><th>Municipio</th><th>Uf</th><th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>@item.Telefone</td>
                <td>@item.Municipio</td>
                <td>@item.Uf</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AlunoID" class="btn btn-sm btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@item.AlunoID" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.AlunoID" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
